/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-Mar-2016, 09:27:22
    Author     : edipetres
*/

body {
    background-color: #f6f6f6;
}

.report{
    background-color: white;
}

.image-holder{
    border-style: solid;
}

.contact-info{
    font-size:12px;
    text-align: right;
}